---
import slug from "slug";
import Layout from "../../../layouts/Layout.astro";
const {idFilm} = Astro.params;
const film = Astro.locals.pb.collection("films").getOne(idFilm!)
const personnes = await Astro.locals.pb.collection("personnes").getFullList() ;

if (Astro.request.method === "POST") {
    const data = await Astro.request.formData();
    Astro.locals.pb.collection("role").create(data)
    return Astro.redirect(`/films/${idFilm}-${slug(film.titre ?? "Inconnu")}`)
}
---

<Layout>
    <form method="POST">
        <input type="hidden" name="user" value={Astro.locals.pb.authStore.record?.id}>
        <label>
            Nom du Rôle
            <input type="text" name="nom">
            <input type="hidden" name="film" value={idFilm}>
        </label>
    
        <div class="form-control w-full">
                            <label class="label" for="acteur">
                                <span class="label-text font-semibold">Acteurs</span>
                            </label>
                            <select name="acteur" id="acteur" class="select select-bordered w-full">
                                <option value="">-- Sélectionner un acteur --</option>
                                {
                                    personnes.map((personne) => (
                                    <option value={personne.id}>
                                        {personne.prenom} {personne.nom}
                                    </option>
                                    ))
                                }
                            </select>
        </div>
    
        <div class="card-actions justify-between mt-8">
                <a href="/films" class="btn btn-ghost">Annuler</a>
                <button type="submit" class="btn btn-primary">
                    Ajouter
                </button>
        </div>
    </form>
</Layout>